<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset='UTF-8'>
    <title>TodoList</title>
    <link rel='stylesheet' href='/style.css'>
    <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11' defer></script>
</head>

<body>
    <h1>Minha Lista de Tarefas</h1>

    <form action='/adicionar' method='POST'>
        <input type='text' name='tarefa' placeholder='Nova tarefa...' required>
        <button type='submit'>Adicionar</button>
    </form>

    <ul>
        <% for (let i=0; i < lista.length; i++) { %>
            <li>
                <%= lista[i] %>
                    <form id="form-<%= i %>" action='/deletar/<%= i %>' method='POST' style='display:inline'>
                        <button type='button' class='btn-deletar' data-id='<%= i %>'>
                            X
                        </button>
                    </form>
            </li>
            <% } %>
    </ul>


    <script>
        document.querySelectorAll('.btn-deletar').forEach(botao => {
            botao.addEventListener('click', () => {
                const id = botao.dataset.id;

                Swal.fire({
                    title: 'Tem certeza?',
                    text: 'Esta tarefa será removida!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sim, deletar!',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById(`form-${id}`).submit();
                    }
                });
            });
        });
    </script>
</body>

</html>